.place__title {
    margin: 0px;
    color: white;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    align-self: flex-start;
    box-sizing: border-box;
    color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
    .place__title {
        max-width: 440px;
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 1.1;
    }
}

@media screen and (max-width:767px) {
    .place__title {
        min-width: 288px;
        max-width: 640px;
        margin: 0 16px;
        font-size: 32px;
        line-height: 1.09;
    }
}