.header__lang {
    margin-top: 18px;
    width: 78px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .header__lang {
        width: 62px;
    }
}