.place__website-link {
    margin: 0 auto;
    color: white;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 456px;
    height: 22px;
    color: #FFFFFF;
}

.place__website-link:hover {
    opacity: 0.8;
    transition: 1s;
}

@media screen and (max-width: 1023px) {
    .place__website-link {
        max-width: 352px;
    }
}

@media screen and (max-width:767px) {
    .place__website-link {
        display: none;
    }
}