        @import url(../vendor/normalize.css);
        @import url(../vendor/inter.css);
        @import url(../blocks/body/body.css);
        @import url(../blocks/root/root.css);
        @import url(../blocks/header/header.css);
        @import url(../blocks/lead/lead.css);
        @import url(../blocks/intro/intro.css);
        @import url(../blocks/photo-grid/photo-grid.css);
        @import url(../blocks/places/places.css);
        @import url(../blocks/place/place.css);
        @import url(../blocks/cover/cover.css);
        @import url(../blocks/footer/footer.css);
        .header-lang {
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 1.17;
            color: #FFFFFF;
            text-decoration-line: none;
        }
        
        .header-lang:hover {
            opacity: .8;
        }
        
        .header-lang_active {
            text-decoration: underline;
        }